<%= form.error_messages %>

<%- field_set_tag 'Name & Email' do -%>
  <div class="row">
    <p class="column">
      <%= form.label :salutation %><br />
    	<%= form.select :salutation, options_from_collection_for_select(Guest::SALUTATIONS, :to_s, :to_s, form.object.salutation), :include_blank => true %>
    </p>
    <p class="column">
    	<%= form.label :name %><br />
  		<%- if @admin_user -%>
    		<%= form.text_field :first_name %><%= form.text_field :last_name %>
  		<%- else -%>
    		<%= form.text_field :name %>
  		<%- end -%>
  	</p>
  	<p class="column">
  	  <%= form.label :suffix %><br />
  	  <%= form.text_field :suffix, :length => 4, :style => 'width:40px;' %>
  	</p>
  	<div class="clear"></div>
  </div>

  <p>
  	<%= form.label :email %><br />
  	<%= form.text_field :email %>
  </p>
<%- end -%>

<%- field_set_tag 'Address' do -%>
  <%- form.object.build_address if form.object.address.nil? -%>
	<%- form.fields_for :address do |address| -%>
		<%= render 'addresses/form', :address => address %>
	<%- end -%>
<%- end -%>

<%- if @admin_user -%>
	<%- field_set_tag 'Gift' do -%>
	  <%- form.object.build_gift if form.object.gift.nil? -%>
		<%- form.fields_for :gift do |gift| -%>
			<%= render 'gifts/form', :gift => gift %>
		<%- end -%>
	<%- end -%>
<%- end -%>

<%- field_set_tag 'Rsvp' do -%>
  <%- form.object.build_rsvp if form.object.rsvp.nil? -%>
	<%- form.fields_for :rsvp do |rsvp| -%>
		<%= render 'rsvps/form', :rsvp => rsvp %>
	<%- end -%>
<%- end -%>
