<%- if admin? -%>
	<h2><%= mail_to @guest.email , @guest.full_name, :confirm => "Are you sure you want to send an email to #{@guest.name} <#{@guest.email}>?" %></h2>
<%- else -%>
	<h2><%= @guest.full_name %></h2>
	<p><%=h @guest.email %></p>
<%- end -%>

<h4>Address</h4>
<%- if @guest.address.present? -%>
	<p><%= @guest.address %></p>
<%- else -%>
	<p>No address entered.</p>
<%- end -%>

<%- if admin? && @guest.gift.present? -%>
	<h4>Gift</h4>
	<p>Gift: <%= @guest.gift.gift %></p>
<%- end -%>

<h4>RSVP</h4>
<%- if @guest.rsvp.present? -%>
	<dl>
		<dt>attending:</dt>
		<dd><%= @guest.rsvp.attending? ? 'Yup!' : 'Nope.' %></dd>
		
		<%- if @guest.rsvp.attending? -%>
			<dt>number:</dt>
			<dd><%= @guest.rsvp.number_attending %></dd>
		<%- end -%>
		
		<%- if admin? -%>
			<dt>done by admin:</dt>
			<dd><%= @guest.rsvp.admin_rsvp? ? 'Yes' : 'No' %></dd>
		<%- end -%>
	</dl>
<%- else -%>
	<p>You have not yet RSVP’d!</p>
<%- end -%>

<%= link_to 'Update My Info', edit_guest_path %>
