<h2><%= @guest.full_name %></h2>
<p><%=h @guest.email %></p>

<%- unless @guest == @admin -%>
	<h4>Address</h4>
	<%- if @guest.address.present? -%>
		<p><%= @guest.address %></p>
	<%- else -%>
		<p>No address entered. <%= link_to 'Enter Address.', edit_guest_path %></p>
	<%- end -%>

	<%- if @admin -%>
		<h4>Gift</h4>
		<p><%= @guest.gift.present? ? @guest.gift.gift : 'None yet!' %></p>
	<%- end -%>

	<h4>RSVP</h4>
	<%- if @guest.rsvp.present? -%>
		<dl>
			<dt>attending:</dt>
			<dd><%= @guest.rsvp.attending? ? 'Yup!' : 'Nope.' %></dd>
		
			<%- if @guest.rsvp.attending? -%>
				<dt>number:</dt>
				<dd><%= @guest.rsvp.number_attending %></dd>
			<%- end -%>
		
			<%- if @admin -%>
				<dt>done by admin:</dt>
				<dd><%= @guest.rsvp.admin_rsvp? ? 'Yes' : 'No' %></dd>
			<%- end -%>
		</dl>
	<%- else -%>
		<p>You have not yet RSVP’d! <%= link_to 'RSVP!', edit_guest_path %></p>
	<%- end -%>

	<%= link_to "Update #{@admin ? @guest.first_name + '’s' : 'My'} Info", @admin ? edit_admin_guest_path(@guest) : edit_guest_path %>
<%- else -%>
	<p>Hurray! You’re an admin user!</p>
<%- end -%>
