<%- guest = @guest || @session_guest
    guest_is_admin = guest == @admin_user -%>

<div id="main">
	<%- if @admin_user -%>
		<h2><%= guest.full_name %></h2>
	<%- else -%>
		<h2>Welcome, <%= guest.full_name %></h2>
		<%= guest_status_content(guest) %>
	<%- end -%>

	<%- unless guest_is_admin -%>
  	<h3>Mailing Address:</h3>
    <%= render guest.address, :guest => guest %>
	
		<h3>Email Address:</h3>
		<%= guest_email_address_content(guest) %>

		<%- if @admin_user -%>
			<h3>Gift</h3>
			<%- if guest.gift -%>
				<%= render guest.gift, :guest => guest %>
			<%- else -%>
			<%- end -%>
		<%- end -%>

		<h3>RSVP</h3>
		<%= render guest.rsvp, :guest => guest %>

		<%= link_to "Update #{@admin_user ? guest.first_name + '’s' : 'My'} Info", @admin_user ? edit_admin_guest_path(guest) : edit_guest_path %>
	<%- else -%>
		<p>Hurray! You’re an admin user!</p>
	<%- end -%>
</div>
