<%- guest = @guest || @session_guest
    guest_is_admin = guest == @admin_user -%>

<div id="main">
	<%- if @admin_user -%>
		<h2><%= guest.full_name %></h2>
	<%- else -%>
		<h2>Welcome, <%= guest.full_name %></h2>
		<%= guest_status_content(guest) %>
	<%- end -%>

	<%- unless guest_is_admin -%>
		<div class="group">
	  		<h3>Mailing Address:</h3>
	    <%= render guest.address, :guest => guest %>
		</div>
		
		<div class="group">
			<h3>Email Address:</h3>
			<%= guest_email_address_content(guest) %>
		</div>
		
		<%- if @admin_user -%>
			<div class="group">
				<h3>Gift</h3>
				<%- if guest.gift -%>
					<%= render guest.gift, :guest => guest %>
				<%- else -%>
				<%- end -%>
			</div>
		<%- end -%>
		
		<div class="group">
			<h3>RSVP</h3>
			<%= render guest.rsvp, :guest => guest %>
		</div>
		
		<div class="group">
			<%= link_to "Update #{@admin_user ? (guest.first_name || guest.full_name) + '’s' : 'My'} Info", @admin_user ? edit_admin_guest_path(guest) : edit_guest_path, :class => 'update_link' %>
		</div>
	<%- else -%>
		<p>Hurray! You’re an admin user!</p>
	<%- end -%>
</div>
