<h1>New thank_yous</h1>

<% form_for(@thank_yous) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :gift %><br />
    <%= f.text_field :gift %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', thank_yous_path %>