<%= rsvp.hidden_field :admin_rsvp, :value => !!@admin_user ? 't' : 'f' %>

<p>
	<%= rsvp.label :attending, 'Will you be attending?' %><br />
	<%= rsvp.select :attending, options_from_collection_for_select(Rsvp::ATTENDING_MAP.map{|r| [r.first, r.last.humanize]}, :first, :last, rsvp.object.attending), :include_blank => true %>
</p>

<p>
	<%= rsvp.label :number_attending, 'Will there be more attending with you?' %><br />
	<%= rsvp.select :number_attending, grouped_options_for_select([['',[['No', 1]]], ['Yes', [['+1', 2]]]], rsvp.object.number_attending) %>
</p>
