<%- if guest.has_rsvped? -%>
	<%- if guest.is_attending? -%>
    <%= number_attending_content(rsvp) %>
	<div class="group">
		<h3>Wedding Time and Location</h3>
		<p>As promised, the wedding will be at 4:30 PM on September 12th, 2009 at:</p>
    <%= wedding_location_map_content %>
    
		<h3>Wedding Registry</h3>
		<p>We are registered at the following locations, click on the store's logo to see our registry list:</p>
		<p class="column"><a href="http://registry.weddingchannel.com/gvr/guestregistrydetail.action?retailer_registry_uid=310485632&listby=dept" target="_blank"><%= image_tag("img-registry-logo-macys.png") %></a></p>
		<p class="column"><a href="http://www.crateandbarrel.com/Gift-Registry/Guest/ViewRegistry.aspx?grid=4291770" target="_blank"><%= image_tag("img-registry-logo-Crate&Barrel.png") %></a></p>
		<p class="column"><a href="http://www.williams-sonoma.com/registry/findregistry.cfm" target="_blank"><%= image_tag("img-registry-logo-WilliamsSonoma.png") %></a></p>
		<p class="column"><a href="http://giftreg.surlatable.com/slt/grws" target="_blank"><%= image_tag("img-registry-logo-SurLaTable.png") %></a></p>
		<p class="column"><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?order_num=-1&wrn=%2D549261437&" target="_blank"><%= image_tag("img-registry-logo-BedBath&Beyond.png") %></a></p>
		<div class="clear"></div>
	</div>
	<div class="group">
		<h3>Hotels Around Bellingham</h3>
		<p>Here is a list of local hotels, close to where our wedding will be held.</p>
		<ul class="column">
			<li class="address, bold">Fairhaven Village Inn</li>
			<li class="address">1200 10th St</li>
			<li class="address">Bellingham, WA 98225</li>
			<li class="address">360.733.1311</li>
			<li class="address"><%= link_to "Website", "http://www.fairhavenvillageinn.com/", :target => "_blank" %></li>
		</ul>
		<ul class="column">
			<li class="address, bold">Chrysalis Inn and Spa</li>
			<li class="address">804 10th St</li>
			<li class="address">Bellingham, WA 98225</li>
			<li class="address">360.756.1005</li>
			<li class="address"><%= link_to "Website", "http://www.thechrysalisinn.com/", :target => "_blank" %></li>
		</ul>
		<ul class="column">
			<li class="address, bold">Days Inn</li>
			<li class="address">215 Samish Way</li>
			<li class="address">Bellingham, WA 98225</li>
			<li class="address">360.734.8830</li>
			<li class="address"><%= link_to "Website", "http://www.daysinn.com/DaysInn/control/Booking/property_info?propertyId=00996&as_srp=SP2&cid=carat_search-Days_Inn", :target => "_blank" %></li>
		</ul>
		<ul class="column">
			<li class="address, bold">Best Western Lakeway Inn</li>
			<li class="address">714 Lakeway Drive</li>
			<li class="address">Bellingham, WA 98229</li>
			<li class="address">360.671.1011</li>
			<li class="address"><%= link_to "Website", "http://www.thelakewayinn.com", :target => "_blank" %></li>
		</ul>
		<ul class="column">
			<li class="address, bold">Best Western Heritage Inn</li>
			<li class="address">151 E McLeod Rd</li>
			<li class="address">Bellingham, WA 98226</li>
			<li class="address">360.647.1912</li>
			<li class="address"><%= link_to "Website", "http://www.bestwesternwashington.com/hotels/best-western-heritage-inn/", :target => "_blank" %></li>
		</ul>
		<ul class="column">
			<li class="address, bold">Coachman Inn</li>
			<li class="address">120 N Samish Way</li>
			<li class="address">Bellingham, WA 98225</li>
			<li class="address">360.671.9000</li>
			<li class="address"><%= link_to "Website", "http://www.coachmaninnmotel.com", :target => "_blank" %></li>
		</ul>
		<ul class="column">
			<li class="address, bold">Motel 6</li>
			<li class="address">3701 Byron Avenue</li>
			<li class="address">Bellingham, WA 98225</li>
			<li class="address">360.671.4494</li>
			<li class="address"><%= link_to "Website", "http://www.motel6.com/reservations/motel_detail.aspx?num=0044", :target => "_blank" %></li>
		</ul>
		<div class="clear"></div>
	</div>
	<%- else -%>
		<p>No, I’m sorry, <%= guest.rsvp.one? ? 'I' : 'we' %> won’t be able to attend.</p>
	<%- end -%>

	<%- if @admin_user -%>
		<p class="fancy">This guest was<%= ' NOT' unless guest.rsvp.admin_rsvp? %> registered by an Admin.</p>
	<%- end -%>
	
<%- else -%>
	<p>
	  <%= @admin_user ? "#{guest.name} has" : 'You have' %> not yet RSVP’d!<br />
	  <%= link_to "RSVP#{' for them' if @admin_user}!", @admin_user ? edit_admin_guest_path(guest) : edit_guest_path %>
	</p>
<%- end -%>
