<%- if guest.is_attending? -%>

  <%= number_attending_content(rsvp) %>
  <div class="group">
  	<h3>Wedding Time and Location</h3>
  	<p>As promised, the wedding will be at 4:30 PM on September 12th, 2009 at:</p>
    <%= wedding_location_map_content %>
  
  	<h3>Wedding Registry</h3>
  	<p>We are registered at the following locations, click on the store's logo to see our registry list:</p>
    
    <%- @gift_registry_links = capture do -%>
      <%- GiftRegistry.all.each do |registry| -%>
        <p class="column">
          <%= link_to(image_tag(registry.image_path), registry.url,
            :title => registry.name, :alt => registry.slug, :target => '_blank') %>
        </p>
      <%- end -%>
    <%- end -%>
    
    <%= @gift_registry_links %>

  	<div class="clear"></div>
  </div>

	<div class="group">
		<h3>Hotels Around Bellingham</h3>
		<p>Here is a list of local hotels, close to where our wedding will be held.</p>
		
    <%- Lodging.all.each do |lodging| -%>
      <ul class="column address">
        <li class="bold"><%= lodging.name %></li>
        <li><%= lodging.street %></li>
        <li><%= lodging.city %>, <%= lodging.state %> <%= lodging.zip %></li>
        <li><%= number_to_phone(lodging.phone, :area_code => true) %></li>
        <li><%= link_to 'Website', lodging.url, :target => '_blank' %></li>
      </ul>
    <%- end -%>
    
		<div class="clear"></div>
	</div>
	
<%- else -%>

	<p>We're sorry we won't be able to see <%= guest.rsvp.one? ? 'you' : 'you guys' %>, you will be missed.</p>
	
	<h3>Wedding Registry</h3>
	<p>If you would like to send a gift to us anyway, we are registered at the following locations. Click on the store's logo to see our registry list:</p>
  
  <%= @gift_registry_links %>
	
<%- end -%>

<%= content_tag :p, "This guest was#{' NOT' unless guest.rsvp.admin_rsvp?} RSVP'd by an Admin." :class => 'fancy' if @admin_user %>
