<p>
	<%= address.label :line_1 %><br />
	<%= address.text_field :line_1 %>
</p>

<p>
	<%= address.label :line_2 %><br />
	<%= address.text_field :line_2 %>
</p>

<p>
	<%= address.label :city %><br />
	<%= address.text_field :city %>
</p>

<p>
	<%= address.label :state %><br />
	<%= address.text_field :state, :size => 2 %>
</p>

<p>
	<%= address.label :zip %><br />
	<%= address.text_field :zip, :size => 5 %>
</p>