<%= address.hidden_field :country, :value => 'United States' %>

<p>
	<%= address.label :line_1, 'Street, line 1' %><br />
	<%= address.text_field :line_1 %>
</p>

<p>
	<%= address.label :line_2, 'Street, line 2' %><br />
	<%= address.text_field :line_2 %>
</p>

<p>
	<%= address.label :city %><br />
	<%= address.text_field :city %>
</p>

<p>
	<%= address.label :state, 'State (abbreviation)' %><br />
	<%= address.text_field :state, :size => 2 %>
</p>

<p>
	<%= address.label :zip, 'Zip Code' %><br />
	<%= address.text_field :zip, :size => 5 %>
</p>
