<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= controller.controller_name %>: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'base' %>
</head>
<body>
	
	<%= content_tag(:div, flash[:notice], :id => 'flash') if flash[:notice] %>
	
	<div id="container">
		<div id="header">
			<h1>iDo - Le Wedding App</h1>
		</div>
		<%- if @admin -%>
		<div id="admin-nav">
			<ul>
				<li><%= link_to 'Manage Guests', admin_guests_path %></li>
				<li><%= link_to 'Manage RSVPs', rsvps_path %></li>
				<li><%= link_to 'Manage Gifts', gifts_path %></li>
				<li><%= link_to 'Manage Thank Yous', thank_yous_path %></li>
				<li><%= link_to 'Logout', logout_path %></li>
			</ul>
			<div class="clear"></div>
		</div>
		<%- end -%>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			@2009 Adam Farnsworth
		</div>
	</div>
</body>
</html>
